# Render Backend Environment Variables

# The port will be injected automatically by Render. You don't need to specify it.
# PORT=5000

# Copy your actual database credentials here for production!
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=animeph
